@model IEnumerable<server.Models.Order>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
	ViewData["Title"] = "Index";
	Layout = "~/Areas/Staff/Views/Shared/_Layout.cshtml";
	var user = ViewData["User"];
}

<h1>Index</h1>

<p>
	<a asp-action="Create">Create New</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.User)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Address)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Created_at)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Updated_at)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Status)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Total)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.User.Email)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Address.Ward), @Html.DisplayFor(modelItem => item.Address.Town), @Html.DisplayFor(modelItem => item.Address.District),  @Html.DisplayFor(modelItem => item.Address.City)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Created_at)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Updated_at)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Status)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Total)
				</td>
				<td>
					<a asp-action="Edit" asp-route-id="@item.Order_id">Edit Status</a>
				</td>
			</tr>
		}
	</tbody>
</table>
