@model IEnumerable<server.Models.User>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<form asp-action="Search" method="get">
    <div class="form-group">
        <label for="SearchString">Search Account:</label>
        <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]"/>
        <input type="submit" value ="Search" class="btn btn-primary" />
    </div>

</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="index" asp-route-sortOrder="@ViewData["UsernameSort"]">
                @Html.DisplayNameFor(model => model.Username)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th>
                <a asp-action="sort" asp-route-sortOrder="@ViewData["StatusSort"]">
                @Html.DisplayNameFor(model => model.Status)
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
 @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    <a href="@Url.Action("Details", "Users", new { id = item.Uid })" class="btn btn-info">View Information</a>
                    <a href="@Url.Action("Edit", "Users", new { id = item.Uid })" class="btn btn-primary">Change Role</a>
                    <a href="@Url.Action("Suspend", "Users", new { id = item.Uid })" class="btn btn-danger">Suspend</a>
                </td>

            </tr>
        }
    </tbody>
</table>
